body {
    background-image: url("subwayStation.avif");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color: white;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

#increment-btn {
    background-color: red;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 6px 12px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}