* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.first-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.second-div {
    display: inline-block;
    margin-top: 35px;
    margin-left: 500px;
    text-align: center;
}

.new-entry-1 {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 25px;
    text-align: center;
}

#priority-btn-1,
#priority-btn-2 {
    width: 70px;
    height: 30px;
    text-align: center;
}

.new-entry-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    gap: 15px;
    font-size: 25px;
}

#due-date-btn {
    width: 60px;
    height: 25px;
    text-align: center;
}

.new-entry-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    text-align: center;
}

#submit-btn {
    width: 70px;
    height: 30px;
    text-align: center;
}

#clear-btn {
    width: 80px;
    height: 30px;
    text-align: center;
}

#task-name {
    width: 250px;
    height: 30px;
    padding: 6px 12px;
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
}

#add-btn {
    text-align: center;
    border: 2px black solid;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

#title-2 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    font-size: 45px;
    font-style: italic;
}

.fourth-div {
    margin-top: 15px;
}